$base-fonts: 'Open Sans', 'Helvetica Nueue', 'Helvetica', 'Verdana', 'Arial', 'Sans-Serif';

// Container dimensions
$container-max-width: 1280px;
$height-nav: 50px;
$url-background: '../assets/images/background.jpg';
$url-imageNotFound: '../assets/images/404.jpg';
